<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
     </h1>List Of Customers</h1>
     <hr/>
     
     <form th:action=@{/custsearch} th:method="get">
       <input type="text" name="c">
   <button type="submit">show</button>
    </form>
     <table border=1>
          <thead>
              <tr>
                   <th>Cust_ID</th>
                   <th>Cust_name</th>
                   <th>Date</th>
                   <th>Product_Catagary</th>
                    <th>Product_Name</th> 
              </tr>
          </thead>
              <tbody>
                  <tr th:each="customer:${customers}">
                       <td th:text="${customer.cid}"></td>
                        <td th:text="${customer.cname}"></td>
                         <td th:text="${customer.date}"></td>
                          <td th:text="${customer.pcatagary}"></td>
                           <td th:text="${customer.pname}"></td>
                          
                  </tr>
              </tbody>
     </table>
     
</body>
</html>