<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h2> Update Password</h2>
   
    
 
   <form th:action=@{u} th:object=${admin} method="POST">
    <input type="text" th:field="*{aname}" placeholder="admin name">
    <input type="text" th:field="*{apassword}" placeholder="password">
    
    
    <button type="submit">update password</button>
    <input type="hidden" th:field=*{id} />
   </form>

</body>
</html>